In [ ]:
import requests
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import json, requests, pprint
import ast

In [ ]:
all_attractions = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/all_attractions.csv', index_col=[0])

In [ ]:
all_attractions.head()

In [ ]:
# This creates the column split_types with the values being a list
# Starts as a string goes to a list
all_attractions['split_types'] = [ast.literal_eval(x) for x in all_attractions.types]

In [ ]:
# Convert the column into a dataframe with .apply(pd.Series)
# Stack seperates all values into the dataframe
# unique returns the unique values
tourist_types = all_attractions['split_types'].apply(pd.Series).stack().unique()
len(tourist_types)

In [ ]:
# This takes the comnma seperated list and turns it to a 
# comma seperated string, with no quotes
all_attractions['split_types_str'] = [','.join(x) for x in all_attractions.split_types]

In [ ]:
# Get dummies 
dummies = all_attractions.split_types_str.str.get_dummies(sep=',')

In [ ]:
dummies

In [ ]:
dummies.sum()

In [ ]:
dummies['total'] = dummies.sum(axis=1)

In [ ]:
all_attractions = pd.concat([all_attractions, dummies], axis=1)

all_attractions.head()

In [ ]:
# Creating the list of types with country/city to use groupby
type_col_names = dummies.columns.tolist()
type_col_names.extend(['country', 'city'])

In [ ]:
all_attractions[type_col_names]

In [ ]:
# Sum the total number of attractions for each type, by country and city.
attraction_count = all_attractions[type_col_names].groupby(['country', 'city']).sum()

In [ ]:
attraction_count

In [ ]:
# Count of attractions with rating over 4.5
attraction_count['above_4.5'] = all_attractions[all_attractions['rating'] >= 4.5].groupby(['country', 'city'])['name'].count()

In [ ]:
# Categories to split up attraction types
history = ['country', 'city', 'art_gallery', 'library', 'museum', 'cemetery']
place_of_worship = ['country', 'city', 'church', 'mosque', 'place_of_worship']
outdoor = ['country', 'city','natural_feature', 'park']
activity = ['country', 'city','aquarium', 'movie_theater', 'store', 'travel_agency', 'amusement_park', 'zoo']
food = ['country', 'city', 'bar', 'cafe', 'food', 'restaurant']

In [ ]:
# Creates a column with the total count of the different attraction categories
attraction_count['history_count'] =  all_attractions[history].groupby(['country', 'city']).sum().sum(axis=1)
attraction_count['place_of_worship_count'] =  all_attractions[place_of_worship].groupby(['country', 'city']).sum().sum(axis=1)
attraction_count['outdoor_count'] =  all_attractions[outdoor].groupby(['country', 'city']).sum().sum(axis=1)
attraction_count['activity_count'] =  all_attractions[activity].groupby(['country', 'city']).sum().sum(axis=1)
attraction_count['food_count'] =  all_attractions[food].groupby(['country', 'city']).sum().sum(axis=1)

In [ ]:
attraction_count