This notebook as preprocessing work that is all in user-city-sim notebook. Plots at the bottom are unique

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn import preprocessing as pp
import sqlite3
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df = pd.read_csv('/Users/tristannisbet/Documents/SM/survey_responses.csv')

In [3]:
df.rename(columns = {'What country are you from? ': 'nationality', 'Age Range': 'age', 'Gender': 'gender',
                    '1. Choose your top favorite 3-5 cities you have traveled to that are on this list.  - Favorite City #1': 'favorite_city_one',
                    '2. Favorite city #2': 'favorite_city_two', '3. Favorite city #3': 'favorite_city_three',
                    '4. Favorite city #4': 'favorite_city_four', '5. Favorite city #5': 'favorite_city_five',
                    "6. If there's a city you have been and loved that is not on this list, add it below. ": 'extra_favorite',
                    "7. What cities on this list have you been to and not enjoyed?   - Least favorite city #1": 'least_favorite_one',
                    '8. Least favorite city #2': 'least_favorite_two', 
                    "9. If there's a city you have been to and haven't liked that is not on this list, add it below": 'extra_least_favorite',
                    "What price range of restaurant do you eat at when you travel? [Price level: 1 (Fast/Cheap Eats)]": 'food_one',
                    "What price range of restaurant do you eat at when you travel? [Price level: 2 (Casual Dining)]": 'food_two',
                    "What price range of restaurant do you eat at when you travel? [Price level: 3 (Upscale Dining)]": 'food_three',
                    "What price range of restaurant do you eat at when you travel? [Price level: 4 (Fine Dining/High End)]": 'food_four',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Art Gallery]": 'art_gallery',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Library]": 'library',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Museum ]": 'museum',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Aquarium]": 'aquarium',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Amusement Park ]": 'amusement_park',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Zoo]": 'zoo',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Movie Theater]": 'movie_theater',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Mall / Souvenir shop ]": 'store',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Park ]": 'park',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Natural Feature / Beach]": 'natural_feature',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Place of Worship (Church/Temple)]": 'place_of_worship'}, inplace=True )

In [4]:
def get_df(table_name):
    try:
        conn = sqlite3.connect('/Users/tristannisbet/Documents/travel_app/places.db')

    except Exception as e:
        print('Error durring connection: ', str(e))
    
    sql = """select * from {}""".format(table_name)
    df = pd.read_sql_query(sql, conn)

    return df

In [5]:
one = get_df('restaurants_one')
two = get_df('restaurants_two')
three = get_df('restaurants_three')
four = get_df('restaurants_four')
top_rest = get_df('restaurants')
all_price = pd.concat([one, two, three, four, top_rest], axis =0)

In [6]:
cities = get_df('cities')

In [7]:
lst = cities.city
trying_df = pd.DataFrame(lst)

In [8]:
trying_df

             city
0       Hong Kong
1         Bangkok
2          London
3           Macau
4       Singapore
..            ...
134         Accra
135         Quito
136       Tianjin
137       Qingdao
138  Philadelphia

[139 rows x 1 columns]

In [9]:
lst[0]+'0'

'Hong Kong0'

In [10]:
lst5 = []
for i in range(153):
    for c in lst:

        a = c + "_" + str(i)
        lst5.append(a)

In [11]:
lst5

['Hong Kong_0',
 'Bangkok_0',
 'London_0',
 'Macau_0',
 'Singapore_0',
 'Paris_0',
 'Dubai_0',
 'New York City_0',
 'Kuala Lumpur_0',
 'Istanbul_0',
 'Delhi_0',
 'Antalya_0',
 'Shenzhen_0',
 'Mumbai_0',
 'Phuket_0',
 'Rome_0',
 'Tokyo_0',
 'Pattaya_0',
 'Taipei_0',
 'Mecca_0',
 'Guangzhou_0',
 'Prague_0',
 'Medina_0',
 'Seoul_0',
 'Amsterdam_0',
 'Agra_0',
 'Miami_0',
 'Osaka_0',
 'Las Vegas_0',
 'Shanghai_0',
 'Ho Chi Minh City_0',
 'Denpasar_0',
 'Barcelona_0',
 'Los Angeles_0',
 'Milan_0',
 'Chennai_0',
 'Vienna_0',
 'Johor Bahru_0',
 'Jaipur_0',
 'Cancun_0',
 'Berlin_0',
 'Cairo_0',
 'Athens_0',
 'Orlando_0',
 'Moscow_0',
 'Venice_0',
 'Madrid_0',
 'Ha Long_0',
 'Riyadh_0',
 'Dublin_0',
 'Florence_0',
 'Hanoi_0',
 'Toronto_0',
 'Johannesburg_0',
 'Sydney_0',
 'Munich_0',
 'Jakarta_0',
 'Beijing_0',
 'Saint Petersburg_0',
 'Brussels_0',
 'Jerusalem_0',
 'Budapest_0',
 'Lisbon_0',
 'Dammam_0',
 'Penang Island_0',
 'Heraklion_0',
 'Kyoto_0',
 'Zhuhai_0',
 'Vancouver_0',
 'Chiang Mai_0',
 'Copenhagen_0',
 'San Francisco_0',
 'Melbourne_0',
 'Warsaw_0',
 'Marrakesh_0',
 'Kolkata_0',
 'Cebu City_0',
 'Auckland_0',
 'Tel Aviv_0',
 'Guilin_0',
 'Honolulu_0',
 'Hurghada_0',
 'Krakow_0',
 'Mugla_0',
 'Buenos Aires_0',
 'Chiba_0',
 'Frankfurt_0',
 'Stockholm_0',
 'Lima_0',
 'Da Nang_0',
 'Batam_0',
 'Nice_0',
 'Fukuoka_0',
 'Abu Dhabi_0',
 'Jeju_0',
 'Porto_0',
 'Rhodes_0',
 'Rio de Janeiro_0',
 'Krabi_0',
 'Bangalore_0',
 'Mexico City_0',
 'Punta Cana_0',
 'Sao Paulo_0',
 'Zurich_0',
 'Montreal_0',
 'Washington D.C._0',
 'Chicago_0',
 'Dusseldorf_0',
 'Boston_0',
 'Chengdu_0',
 'Edinburgh_0',
 'San Jose_0',
 'Tehran_0',
 'Houston_0',
 'Hamburg_0',
 'Cape Town_0',
 'Manila_0',
 'Bogota_0',
 "Xi'an_0",
 'Beirut_0',
 'Geneva_0',
 'Colombo_0',
 'Xiamen_0',
 'Bucharest_0',
 'Casablanca_0',
 'Atlanta_0',
 'Sofia_0',
 'Dalian_0',
 'Montevideo_0',
 'Amman_0',
 'Hangzhou_0',
 'Pune_0',
 'Durban_0',
 'Dallas_0',
 'Accra_0',
 'Quito_0',
 'Tianjin_0',
 'Qingdao_0',
 'Philadelphia_0',
 'Hong Kong_1',
 'Bangkok_1',
 'London_1',
 'Macau_1',
 'Singapore_1',
 'Paris_1',
 'Dubai_1',
 'New York City_1',
 'Kuala Lumpur_1',
 'Istanbul_1',
 'Delhi_1',
 'Antalya_1',
 'Shenzhen_1',
 'Mumbai_1',
 'Phuket_1',
 'Rome_1',
 'Tokyo_1',
 'Pattaya_1',
 'Taipei_1',
 'Mecca_1',
 'Guangzhou_1',
 'Prague_1',
 'Medina_1',
 'Seoul_1',
 'Amsterdam_1',
 'Agra_1',
 'Miami_1',
 'Osaka_1',
 'Las Vegas_1',
 'Shanghai_1',
 'Ho Chi Minh City_1',
 'Denpasar_1',
 'Barcelona_1',
 'Los Angeles_1',
 'Milan_1',
 'Chennai_1',
 'Vienna_1',
 'Johor Bahru_1',
 'Jaipur_1',
 'Cancun_1',
 'Berlin_1',
 'Cairo_1',
 'Athens_1',
 'Orlando_1',
 'Moscow_1',
 'Venice_1',
 'Madrid_1',
 'Ha Long_1',
 'Riyadh_1',
 'Dublin_1',
 'Florence_1',
 'Hanoi_1',
 'Toronto_1',
 'Johannesburg_1',
 'Sydney_1',
 'Munich_1',
 'Jakarta_1',
 'Beijing_1',
 'Saint Petersburg_1',
 'Brussels_1',
 'Jerusalem_1',
 'Budapest_1',
 'Lisbon_1',
 'Dammam_1',
 'Penang Island_1',
 'Heraklion_1',
 'Kyoto_1',
 'Zhuhai_1',
 'Vancouver_1',
 'Chiang Mai_1',
 'Copenhagen_1',
 'San Francisco_1',
 'Melbourne_1',
 'Warsaw_1',
 'Marrakesh_1',
 'Kolkata_1',
 'Cebu City_1',
 'Auckland_1',
 'Tel Aviv_1',
 'Guilin_1',
 'Honolulu_1',
 'Hurghada_1',
 'Krakow_1',
 'Mugla_1',
 'Buenos Aires_1',
 'Chiba_1',
 'Frankfurt_1',
 'Stockholm_1',
 'Lima_1',
 'Da Nang_1',
 'Batam_1',
 'Nice_1',
 'Fukuoka_1',
 'Abu Dhabi_1',
 'Jeju_1',
 'Porto_1',
 'Rhodes_1',
 'Rio de Janeiro_1',
 'Krabi_1',
 'Bangalore_1',
 'Mexico City_1',
 'Punta Cana_1',
 'Sao Paulo_1',
 'Zurich_1',
 'Montreal_1',
 'Washington D.C._1',
 'Chicago_1',
 'Dusseldorf_1',
 'Boston_1',
 'Chengdu_1',
 'Edinburgh_1',
 'San Jose_1',
 'Tehran_1',
 'Houston_1',
 'Hamburg_1',
 'Cape Town_1',
 'Manila_1',
 'Bogota_1',
 "Xi'an_1",
 'Beirut_1',
 'Geneva_1',
 'Colombo_1',
 'Xiamen_1',
 'Bucharest_1',
 'Casablanca_1',
 'Atlanta_1',
 'Sofia_1',
 'Dalian_1',
 'Montevideo_1',
 'Amman_1',
 'Hangzhou_1',
 'Pune_1',
 'Durban_1',
 'Dallas_1',
 'Accra_1',
 'Quito_1',
 'Tianjin_1',
 'Qingdao_1',
 'Philadelphia_1',
 'Hong Kong_2',
 'Bangkok_2',
 'London_2',
 'Macau_2',
 'Singapore_2',
 'Paris_2',
 'Dubai_2',
 'New York City_2',
 'Kuala Lumpur_2',
 'Istanbul_2',
 'Delhi_2',
 'Antalya_2',
 'Shenzhen_2',
 'Mumbai_2',
 'Phuket_2',
 'Rome_2',
 'Tokyo_2',
 'Pattaya_2',
 'Taipei_2',
 'Mecca_2',
 'Guangzhou_2',
 'Prague_2',
 'Medina_2',
 'Seoul_2',
 'Amsterdam_2',
 'Agra_2',
 'Miami_2',
 'Osaka_2',
 'Las Vegas_2',
 'Shanghai_2',
 'Ho Chi Minh City_2',
 'Denpasar_2',
 'Barcelona_2',
 'Los Angeles_2',
 'Milan_2',
 'Chennai_2',
 'Vienna_2',
 'Johor Bahru_2',
 'Jaipur_2',
 'Cancun_2',
 'Berlin_2',
 'Cairo_2',
 'Athens_2',
 'Orlando_2',
 'Moscow_2',
 'Venice_2',
 'Madrid_2',
 'Ha Long_2',
 'Riyadh_2',
 'Dublin_2',
 'Florence_2',
 'Hanoi_2',
 'Toronto_2',
 'Johannesburg_2',
 'Sydney_2',
 'Munich_2',
 'Jakarta_2',
 'Beijing_2',
 'Saint Petersburg_2',
 'Brussels_2',
 'Jerusalem_2',
 'Budapest_2',
 'Lisbon_2',
 'Dammam_2',
 'Penang Island_2',
 'Heraklion_2',
 'Kyoto_2',
 'Zhuhai_2',
 'Vancouver_2',
 'Chiang Mai_2',
 'Copenhagen_2',
 'San Francisco_2',
 'Melbourne_2',
 'Warsaw_2',
 'Marrakesh_2',
 'Kolkata_2',
 'Cebu City_2',
 'Auckland_2',
 'Tel Aviv_2',
 'Guilin_2',
 'Honolulu_2',
 'Hurghada_2',
 'Krakow_2',
 'Mugla_2',
 'Buenos Aires_2',
 'Chiba_2',
 'Frankfurt_2',
 'Stockholm_2',
 'Lima_2',
 'Da Nang_2',
 'Batam_2',
 'Nice_2',
 'Fukuoka_2',
 'Abu Dhabi_2',
 'Jeju_2',
 'Porto_2',
 'Rhodes_2',
 'Rio de Janeiro_2',
 'Krabi_2',
 'Bangalore_2',
 'Mexico City_2',
 'Punta Cana_2',
 'Sao Paulo_2',
 'Zurich_2',
 'Montreal_2',
 'Washington D.C._2',
 'Chicago_2',
 'Dusseldorf_2',
 'Boston_2',
 'Chengdu_2',
 'Edinburgh_2',
 'San Jose_2',
 'Tehran_2',
 'Houston_2',
 'Hamburg_2',
 'Cape Town_2',
 'Manila_2',
 'Bogota_2',
 "Xi'an_2",
 'Beirut_2',
 'Geneva_2',
 'Colombo_2',
 'Xiamen_2',
 'Bucharest_2',
 'Casablanca_2',
 'Atlanta_2',
 'Sofia_2',
 'Dalian_2',
 'Montevideo_2',
 'Amman_2',
 'Hangzhou_2',
 'Pune_2',
 'Durban_2',
 'Dallas_2',
 'Accra_2',
 'Quito_2',
 'Tianjin_2',
 'Qingdao_2',
 'Philadelphia_2',
 'Hong Kong_3',
 'Bangkok_3',
 'London_3',
 'Macau_3',
 'Singapore_3',
 'Paris_3',
 'Dubai_3',
 'New York City_3',
 'Kuala Lumpur_3',
 'Istanbul_3',
 'Delhi_3',
 'Antalya_3',
 'Shenzhen_3',
 'Mumbai_3',
 'Phuket_3',
 'Rome_3',
 'Tokyo_3',
 'Pattaya_3',
 'Taipei_3',
 'Mecca_3',
 'Guangzhou_3',
 'Prague_3',
 'Medina_3',
 'Seoul_3',
 'Amsterdam_3',
 'Agra_3',
 'Miami_3',
 'Osaka_3',
 'Las Vegas_3',
 'Shanghai_3',
 'Ho Chi Minh City_3',
 'Denpasar_3',
 'Barcelona_3',
 'Los Angeles_3',
 'Milan_3',
 'Chennai_3',
 'Vienna_3',
 'Johor Bahru_3',
 'Jaipur_3',
 'Cancun_3',
 'Berlin_3',
 'Cairo_3',
 'Athens_3',
 'Orlando_3',
 'Moscow_3',
 'Venice_3',
 'Madrid_3',
 'Ha Long_3',
 'Riyadh_3',
 'Dublin_3',
 'Florence_3',
 'Hanoi_3',
 'Toronto_3',
 'Johannesburg_3',
 'Sydney_3',
 'Munich_3',
 'Jakarta_3',
 'Beijing_3',
 'Saint Petersburg_3',
 'Brussels_3',
 'Jerusalem_3',
 'Budapest_3',
 'Lisbon_3',
 'Dammam_3',
 'Penang Island_3',
 'Heraklion_3',
 'Kyoto_3',
 'Zhuhai_3',
 'Vancouver_3',
 'Chiang Mai_3',
 'Copenhagen_3',
 'San Francisco_3',
 'Melbourne_3',
 'Warsaw_3',
 'Marrakesh_3',
 'Kolkata_3',
 'Cebu City_3',
 'Auckland_3',
 'Tel Aviv_3',
 'Guilin_3',
 'Honolulu_3',
 'Hurghada_3',
 'Krakow_3',
 'Mugla_3',
 'Buenos Aires_3',
 'Chiba_3',
 'Frankfurt_3',
 'Stockholm_3',
 'Lima_3',
 'Da Nang_3',
 'Batam_3',
 'Nice_3',
 'Fukuoka_3',
 'Abu Dhabi_3',
 'Jeju_3',
 'Porto_3',
 'Rhodes_3',
 'Rio de Janeiro_3',
 'Krabi_3',
 'Bangalore_3',
 'Mexico City_3',
 'Punta Cana_3',
 'Sao Paulo_3',
 'Zurich_3',
 'Montreal_3',
 'Washington D.C._3',
 'Chicago_3',
 'Dusseldorf_3',
 'Boston_3',
 'Chengdu_3',
 'Edinburgh_3',
 'San Jose_3',
 'Tehran_3',
 'Houston_3',
 'Hamburg_3',
 'Cape Town_3',
 'Manila_3',
 'Bogota_3',
 "Xi'an_3",
 'Beirut_3',
 'Geneva_3',
 'Colombo_3',
 'Xiamen_3',
 'Bucharest_3',
 'Casablanca_3',
 'Atlanta_3',
 'Sofia_3',
 'Dalian_3',
 'Montevideo_3',
 'Amman_3',
 'Hangzhou_3',
 'Pune_3',
 'Durban_3',
 'Dallas_3',
 'Accra_3',
 'Quito_3',
 'Tianjin_3',
 'Qingdao_3',
 'Philadelphia_3',
 'Hong Kong_4',
 'Bangkok_4',
 'London_4',
 'Macau_4',
 'Singapore_4',
 'Paris_4',
 'Dubai_4',
 'New York City_4',
 'Kuala Lumpur_4',
 'Istanbul_4',
 'Delhi_4',
 'Antalya_4',
 'Shenzhen_4',
 'Mumbai_4',
 'Phuket_4',
 'Rome_4',
 'Tokyo_4',
 'Pattaya_4',
 'Taipei_4',
 'Mecca_4',
 'Guangzhou_4',
 'Prague_4',
 'Medina_4',
 'Seoul_4',
 'Amsterdam_4',
 'Agra_4',
 'Miami_4',
 'Osaka_4',
 'Las Vegas_4',
 'Shanghai_4',
 'Ho Chi Minh City_4',
 'Denpasar_4',
 'Barcelona_4',
 'Los Angeles_4',
 'Milan_4',
 'Chennai_4',
 'Vienna_4',
 'Johor Bahru_4',
 'Jaipur_4',
 'Cancun_4',
 'Berlin_4',
 'Cairo_4',
 'Athens_4',
 'Orlando_4',
 'Moscow_4',
 'Venice_4',
 'Madrid_4',
 'Ha Long_4',
 'Riyadh_4',
 'Dublin_4',
 'Florence_4',
 'Hanoi_4',
 'Toronto_4',
 'Johannesburg_4',
 'Sydney_4',
 'Munich_4',
 'Jakarta_4',
 'Beijing_4',
 'Saint Petersburg_4',
 'Brussels_4',
 'Jerusalem_4',
 'Budapest_4',
 'Lisbon_4',
 'Dammam_4',
 'Penang Island_4',
 'Heraklion_4',
 'Kyoto_4',
 'Zhuhai_4',
 'Vancouver_4',
 'Chiang Mai_4',
 'Copenhagen_4',
 'San Francisco_4',
 'Melbourne_4',
 'Warsaw_4',
 'Marrakesh_4',
 'Kolkata_4',
 'Cebu City_4',
 'Auckland_4',
 'Tel Aviv_4',
 'Guilin_4',
 'Honolulu_4',
 'Hurghada_4',
 'Krakow_4',
 'Mugla_4',
 'Buenos Aires_4',
 'Chiba_4',
 'Frankfurt_4',
 'Stockholm_4',
 'Lima_4',
 'Da Nang_4',
 'Batam_4',
 'Nice_4',
 'Fukuoka_4',
 'Abu Dhabi_4',
 'Jeju_4',
 'Porto_4',
 'Rhodes_4',
 'Rio de Janeiro_4',
 'Krabi_4',
 'Bangalore_4',
 'Mexico City_4',
 'Punta Cana_4',
 'Sao Paulo_4',
 'Zurich_4',
 'Montreal_4',
 'Washington D.C._4',
 'Chicago_4',
 'Dusseldorf_4',
 'Boston_4',
 'Chengdu_4',
 'Edinburgh_4',
 'San Jose_4',
 'Tehran_4',
 'Houston_4',
 'Hamburg_4',
 'Cape Town_4',
 'Manila_4',
 'Bogota_4',
 "Xi'an_4",
 'Beirut_4',
 'Geneva_4',
 'Colombo_4',
 'Xiamen_4',
 'Bucharest_4',
 'Casablanca_4',
 'Atlanta_4',
 'Sofia_4',
 'Dalian_4',
 'Montevideo_4',
 'Amman_4',
 'Hangzhou_4',
 'Pune_4',
 'Durban_4',
 'Dallas_4',
 'Accra_4',
 'Quito_4',
 'Tianjin_4',
 'Qingdao_4',
 'Philadelphia_4',
 'Hong Kong_5',
 'Bangkok_5',
 'London_5',
 'Macau_5',
 'Singapore_5',
 'Paris_5',
 'Dubai_5',
 'New York City_5',
 'Kuala Lumpur_5',
 'Istanbul_5',
 'Delhi_5',
 'Antalya_5',
 'Shenzhen_5',
 'Mumbai_5',
 'Phuket_5',
 'Rome_5',
 'Tokyo_5',
 'Pattaya_5',
 'Taipei_5',
 'Mecca_5',
 'Guangzhou_5',
 'Prague_5',
 'Medina_5',
 'Seoul_5',
 'Amsterdam_5',
 'Agra_5',
 'Miami_5',
 'Osaka_5',
 'Las Vegas_5',
 'Shanghai_5',
 'Ho Chi Minh City_5',
 'Denpasar_5',
 'Barcelona_5',
 'Los Angeles_5',
 'Milan_5',
 'Chennai_5',
 'Vienna_5',
 'Johor Bahru_5',
 'Jaipur_5',
 'Cancun_5',
 'Berlin_5',
 'Cairo_5',
 'Athens_5',
 'Orlando_5',
 'Moscow_5',
 'Venice_5',
 'Madrid_5',
 'Ha Long_5',
 'Riyadh_5',
 'Dublin_5',
 'Florence_5',
 'Hanoi_5',
 'Toronto_5',
 'Johannesburg_5',
 'Sydney_5',
 'Munich_5',
 'Jakarta_5',
 'Beijing_5',
 'Saint Petersburg_5',
 'Brussels_5',
 'Jerusalem_5',
 'Budapest_5',
 'Lisbon_5',
 'Dammam_5',
 'Penang Island_5',
 'Heraklion_5',
 'Kyoto_5',
 'Zhuhai_5',
 'Vancouver_5',
 'Chiang Mai_5',
 'Copenhagen_5',
 'San Francisco_5',
 'Melbourne_5',
 'Warsaw_5',
 'Marrakesh_5',
 'Kolkata_5',
 'Cebu City_5',
 'Auckland_5',
 'Tel Aviv_5',
 'Guilin_5',
 'Honolulu_5',
 'Hurghada_5',
 'Krakow_5',
 'Mugla_5',
 'Buenos Aires_5',
 'Chiba_5',
 'Frankfurt_5',
 'Stockholm_5',
 'Lima_5',
 'Da Nang_5',
 'Batam_5',
 'Nice_5',
 'Fukuoka_5',
 'Abu Dhabi_5',
 'Jeju_5',
 'Porto_5',
 'Rhodes_5',
 'Rio de Janeiro_5',
 'Krabi_5',
 'Bangalore_5',
 'Mexico City_5',
 'Punta Cana_5',
 'Sao Paulo_5',
 'Zurich_5',
 'Montreal_5',
 'Washington D.C._5',
 'Chicago_5',
 'Dusseldorf_5',
 'Boston_5',
 'Chengdu_5',
 'Edinburgh_5',
 'San Jose_5',
 'Tehran_5',
 'Houston_5',
 'Hamburg_5',
 'Cape Town_5',
 'Manila_5',
 'Bogota_5',
 "Xi'an_5",
 'Beirut_5',
 'Geneva_5',
 'Colombo_5',
 'Xiamen_5',
 'Bucharest_5',
 'Casablanca_5',
 'Atlanta_5',
 'Sofia_5',
 'Dalian_5',
 'Montevideo_5',
 'Amman_5',
 'Hangzhou_5',
 'Pune_5',
 'Durban_5',
 'Dallas_5',
 'Accra_5',
 'Quito_5',
 'Tianjin_5',
 'Qingdao_5',
 'Philadelphia_5',
 'Hong Kong_6',
 'Bangkok_6',
 'London_6',
 'Macau_6',
 'Singapore_6',
 'Paris_6',
 'Dubai_6',
 'New York City_6',
 'Kuala Lumpur_6',
 'Istanbul_6',
 'Delhi_6',
 'Antalya_6',
 'Shenzhen_6',
 'Mumbai_6',
 'Phuket_6',
 'Rome_6',
 'Tokyo_6',
 'Pattaya_6',
 'Taipei_6',
 'Mecca_6',
 'Guangzhou_6',
 'Prague_6',
 'Medina_6',
 'Seoul_6',
 'Amsterdam_6',
 'Agra_6',
 'Miami_6',
 'Osaka_6',
 'Las Vegas_6',
 'Shanghai_6',
 'Ho Chi Minh City_6',
 'Denpasar_6',
 'Barcelona_6',
 'Los Angeles_6',
 'Milan_6',
 'Chennai_6',
 'Vienna_6',
 'Johor Bahru_6',
 'Jaipur_6',
 'Cancun_6',
 'Berlin_6',
 'Cairo_6',
 'Athens_6',
 'Orlando_6',
 'Moscow_6',
 'Venice_6',
 'Madrid_6',
 'Ha Long_6',
 'Riyadh_6',
 'Dublin_6',
 'Florence_6',
 'Hanoi_6',
 'Toronto_6',
 'Johannesburg_6',
 'Sydney_6',
 'Munich_6',
 'Jakarta_6',
 'Beijing_6',
 'Saint Petersburg_6',
 'Brussels_6',
 'Jerusalem_6',
 'Budapest_6',
 'Lisbon_6',
 'Dammam_6',
 'Penang Island_6',
 'Heraklion_6',
 'Kyoto_6',
 'Zhuhai_6',
 'Vancouver_6',
 'Chiang Mai_6',
 'Copenhagen_6',
 'San Francisco_6',
 'Melbourne_6',
 'Warsaw_6',
 'Marrakesh_6',
 'Kolkata_6',
 'Cebu City_6',
 'Auckland_6',
 'Tel Aviv_6',
 'Guilin_6',
 'Honolulu_6',
 'Hurghada_6',
 'Krakow_6',
 'Mugla_6',
 'Buenos Aires_6',
 'Chiba_6',
 'Frankfurt_6',
 'Stockholm_6',
 'Lima_6',
 'Da Nang_6',
 'Batam_6',
 'Nice_6',
 'Fukuoka_6',
 'Abu Dhabi_6',
 'Jeju_6',
 'Porto_6',
 'Rhodes_6',
 'Rio de Janeiro_6',
 'Krabi_6',
 'Bangalore_6',
 'Mexico City_6',
 'Punta Cana_6',
 'Sao Paulo_6',
 'Zurich_6',
 'Montreal_6',
 'Washington D.C._6',
 'Chicago_6',
 'Dusseldorf_6',
 'Boston_6',
 'Chengdu_6',
 'Edinburgh_6',
 'San Jose_6',
 'Tehran_6',
 'Houston_6',
 'Hamburg_6',
 'Cape Town_6',
 'Manila_6',
 'Bogota_6',
 "Xi'an_6",
 'Beirut_6',
 'Geneva_6',
 'Colombo_6',
 'Xiamen_6',
 'Bucharest_6',
 'Casablanca_6',
 'Atlanta_6',
 'Sofia_6',
 'Dalian_6',
 'Montevideo_6',
 'Amman_6',
 'Hangzhou_6',
 'Pune_6',
 'Durban_6',
 'Dallas_6',
 'Accra_6',
 'Quito_6',
 'Tianjin_6',
 'Qingdao_6',
 'Philadelphia_6',
 'Hong Kong_7',
 'Bangkok_7',
 'London_7',
 'Macau_7',
 'Singapore_7',
 'Paris_7',
 'Dubai_7',
 'New York City_7',
 'Kuala Lumpur_7',
 'Istanbul_7',
 'Delhi_7',
 'Antalya_7',
 'Shenzhen_7',
 'Mumbai_7',
 'Phuket_7',
 'Rome_7',
 'Tokyo_7',
 'Pattaya_7',
 'Taipei_7',
 'Mecca_7',
 'Guangzhou_7',
 'Prague_7',
 'Medina_7',
 'Seoul_7',
 'Amsterdam_7',
 'Agra_7',
 'Miami_7',
 ...]

In [12]:
new5 = pd.DataFrame(lst5)
new5

                      0
0           Hong Kong_0
1             Bangkok_0
2              London_0
3               Macau_0
4           Singapore_0
...                 ...
21262         Accra_152
21263         Quito_152
21264       Tianjin_152
21265       Qingdao_152
21266  Philadelphia_152

[21267 rows x 1 columns]

In [13]:
a=test[0].split("_")
a

NameError: name 'test' is not defined

In [14]:
split = new5[0].str.split("_", n = 1, expand = True)
split

                  0    1
0         Hong Kong    0
1           Bangkok    0
2            London    0
3             Macau    0
4         Singapore    0
...             ...  ...
21262         Accra  152
21263         Quito  152
21264       Tianjin  152
21265       Qingdao  152
21266  Philadelphia  152

[21267 rows x 2 columns]

In [15]:
test[0]

NameError: name 'test' is not defined

In [ ]:
test = new5.iloc[16176].copy()
test2 = test[0][:-1]
test2

In [ ]:
print(str(test[0]))

In [ ]:
type(test)

In [ ]:
df = df.add_suffix('_some_suffix')

In [ ]:
df

In [ ]:
df.fillna('None', inplace=True)
df.drop(columns=['Timestamp', 'extra_favorite', 'extra_least_favorite'], inplace=True)

In [ ]:
df.columns

In [ ]:
df

## Attraction similarity
User and city

In [ ]:
city_attraction = pd.read_csv('/Users/tristannisbet/Documents/SM/city_attraction_only.csv', index_col=0)
city_attraction

In [ ]:
city_attraction.columns

In [ ]:
le = pp.LabelEncoder()
city_attraction['label_id'] = le.fit_transform(city_attraction.city)
city_attraction

In [ ]:
city_attraction.sort_values('label_id', inplace=True)
city_attraction_clean = city_attraction.copy()
city_attraction_clean.set_index('label_id', inplace=True)
city_attraction_clean.drop(columns=['city', 'id'], inplace=True)
city_attraction_clean

In [ ]:
user_attraction = df[['nationality', 'age', 'gender', 'amusement_park', 'museum', 'park', 'art_gallery', 'aquarium', 'zoo', 
                     'library', 'movie_theater', 'natural_feature', 'place_of_worship', 'store']].copy()
user_attraction

In [ ]:
user_attraction.drop(columns=['nationality', 'age', 'gender'], inplace=True)

In [ ]:
df_attractions.art_gallery.value_counts()

In [ ]:
replace_map = {'1 ( Would NOT go)': 1, '2': 2, '3': 3, '4 (Definitely would go)': 4}

user_attraction = user_attraction.replace(replace_map)

In [ ]:
user_attraction

In [ ]:
normalized_user_a = pd.DataFrame(pp.normalize(user_attraction))
normalized_user_a

In [ ]:
normalized_city_a = pd.DataFrame(pp.normalize(city_attraction_clean))
normalized_city_a

In [ ]:
cosine_sim_a = pd.DataFrame(cosine_similarity(normalized_user_a, normalized_city_a))
cosine_sim_a

In [ ]:
df_food = df[['nationality', 'age', 'gender', 'food_one', 'food_two', 'food_three', 'food_four' ]]
df_food

In [ ]:
replace_map = {'Never': 0, 'Rarely': 1, 'Sometimes': 2, 'Often': 3, 'Always': 4}

df_food_replace = df_food.replace(replace_map)

In [ ]:
df_food_replace

In [ ]:
df_food_replace.drop(columns=['nationality', 'age', 'gender'], inplace=True)

In [ ]:
normalized = preprocessing.normalize(df_food_replace)

In [ ]:
normalized_food_user = pd.DataFrame(normalized)
normalized_food_user

In [ ]:
sample = df_food_replace.head().copy()
sample2 = normalized_food_user.head().copy()

In [ ]:
sample2.reset_index(drop=False, inplace=True)

In [ ]:
sample2

In [ ]:
sample2.rename(columns={'index':'user',0:'food_1', 1:"food_2", 2:"food_3", 3:'food_4'}, inplace=True)

In [ ]:
sample2

In [ ]:

melted = pd.melt(sample2, id_vars =['user'], value_vars =['food_1', 'food_2', 'food_3', 'food_4']) 
melted.sort_values(['user', 'variable'], inplace=True)

In [ ]:
melted

In [ ]:
g = sns.FacetGrid(melted, col="user", height=5, aspect=.7)
g.map(sns.barplot, 'variable', 'value' );

In [ ]:
user2 = all_price[all_price['city'].isin(['Sydney', 'London', 'Dublin', 'Prague', 'Rome'])]
g = sns.FacetGrid(user2, col = "city")
g.map(plt.hist, "price_level")
plt.show()

In [ ]:
user4 = all_price[all_price['city'].isin(['Denpasar', 'Shanghai', 'Kyoto', 'New York City', 'Vancouver'])]
g = sns.FacetGrid(user4, col = "city")
g.map(plt.hist, "price_level")
plt.show()

In [ ]:
# User 2 top fav: Sydney, London, Dublin
# User 4 Denpasar, Shanghai, Kyoto, New York City, Vancouver
df

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
plt.style.use('ggplot')
ax = sample.head(1).transpose().plot(kind='bar', figsize=(10, 8), legend=True, fontsize=12)
ax.set_xlabel("price level", fontsize=12)
ax.set_ylabel("frequency", fontsize=12)
plt.show()

In [ ]:
tt = sample2.transpose()

In [ ]:
sns.plot(tt,kind=bar)

In [ ]:
tt

In [ ]:
sample.reset_index(inplace=True)

In [ ]:
sample