In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn import preprocessing as pp
import sqlite3
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
df = pd.read_csv('/Users/tristannisbet/Documents/SM/survey_responses.csv')

In [ ]:
df.rename(columns = {'What country are you from? ': 'nationality', 'Age Range': 'age', 'Gender': 'gender',
                    '1. Choose your top favorite 3-5 cities you have traveled to that are on this list.  - Favorite City #1': 'favorite_city_one',
                    '2. Favorite city #2': 'favorite_city_two', '3. Favorite city #3': 'favorite_city_three',
                    '4. Favorite city #4': 'favorite_city_four', '5. Favorite city #5': 'favorite_city_five',
                    "6. If there's a city you have been and loved that is not on this list, add it below. ": 'extra_favorite',
                    "7. What cities on this list have you been to and not enjoyed?   - Least favorite city #1": 'least_favorite_one',
                    '8. Least favorite city #2': 'least_favorite_two', 
                    "9. If there's a city you have been to and haven't liked that is not on this list, add it below": 'extra_least_favorite',
                    "What price range of restaurant do you eat at when you travel? [Price level: 1 (Fast/Cheap Eats)]": 'food_one',
                    "What price range of restaurant do you eat at when you travel? [Price level: 2 (Casual Dining)]": 'food_two',
                    "What price range of restaurant do you eat at when you travel? [Price level: 3 (Upscale Dining)]": 'food_three',
                    "What price range of restaurant do you eat at when you travel? [Price level: 4 (Fine Dining/High End)]": 'food_four',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Art Gallery]": 'art_gallery',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Library]": 'library',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Museum ]": 'museum',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Aquarium]": 'aquarium',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Amusement Park ]": 'amusement_park',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Zoo]": 'zoo',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Movie Theater]": 'movie_theater',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Mall / Souvenir shop ]": 'store',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Park ]": 'park',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Natural Feature / Beach]": 'natural_feature',
                    "From the following types of tourist attractions, which ones are you likely to go do while traveling? [Place of Worship (Church/Temple)]": 'place_of_worship'}, inplace=True )

In [ ]:
def get_df(table_name):
    try:
        conn = sqlite3.connect('/Users/tristannisbet/Documents/travel_app/places.db')

    except Exception as e:
        print('Error durring connection: ', str(e))
    
    sql = """select * from {}""".format(table_name)
    df = pd.read_sql_query(sql, conn)

    return df

In [ ]:
one = get_df('restaurants_one')
two = get_df('restaurants_two')
three = get_df('restaurants_three')
four = get_df('restaurants_four')
top_rest = get_df('restaurants')
all_price = pd.concat([one, two, three, four, top_rest], axis =0)

In [ ]:
cities = get_df('city_country')

In [ ]:
lst = cities.city
trying_df = pd.DataFrame(lst)

In [ ]:
trying_df

In [ ]:
lst[0]+'0'

In [ ]:
lst5 = []
for i in range(153):
    for c in lst:

        a = c + "_" + str(i)
        lst5.append(a)

In [ ]:
lst5

In [ ]:
new5 = pd.DataFrame(lst5)
new5

In [ ]:
a=test[0].split("_")
a

In [ ]:
split = new5[0].str.split("_", n = 1, expand = True)
split

In [ ]:
test[0]

In [ ]:
test = new5.iloc[16176].copy()
test2 = test[0][:-1]
test2

In [ ]:
print(str(test[0]))

In [ ]:
type(test)

In [ ]:
df = df.add_suffix('_some_suffix')

In [ ]:
df

In [ ]:
df.fillna('None', inplace=True)
df.drop(columns=['Timestamp', 'extra_favorite', 'extra_least_favorite'], inplace=True)

In [ ]:
df.columns

In [ ]:
df

## Attraction similarity
User and city

In [ ]:
city_attraction = pd.read_csv('/Users/tristannisbet/Documents/SM/city_attraction_only.csv', index_col=0)
city_attraction

In [ ]:
city_attraction.columns

In [ ]:
le = pp.LabelEncoder()
city_attraction['label_id'] = le.fit_transform(city_attraction.city)
city_attraction

In [ ]:
city_attraction.sort_values('label_id', inplace=True)
city_attraction_clean = city_attraction.copy()
city_attraction_clean.set_index('label_id', inplace=True)
city_attraction_clean.drop(columns=['city', 'id'], inplace=True)
city_attraction_clean

In [ ]:
user_attraction = df[['nationality', 'age', 'gender', 'amusement_park', 'museum', 'park', 'art_gallery', 'aquarium', 'zoo', 
                     'library', 'movie_theater', 'natural_feature', 'place_of_worship', 'store']].copy()
user_attraction

In [ ]:
user_attraction.drop(columns=['nationality', 'age', 'gender'], inplace=True)

In [ ]:
df_attractions.art_gallery.value_counts()

In [ ]:
replace_map = {'1 ( Would NOT go)': 1, '2': 2, '3': 3, '4 (Definitely would go)': 4}

user_attraction = user_attraction.replace(replace_map)

In [ ]:
user_attraction

In [ ]:
normalized_user_a = pd.DataFrame(pp.normalize(user_attraction))
normalized_user_a

In [ ]:
normalized_city_a = pd.DataFrame(pp.normalize(city_attraction_clean))
normalized_city_a

In [ ]:
cosine_sim_a = pd.DataFrame(cosine_similarity(normalized_user_a, normalized_city_a))
cosine_sim_a

In [ ]:
df_food = df[['nationality', 'age', 'gender', 'food_one', 'food_two', 'food_three', 'food_four' ]]
df_food

In [ ]:
replace_map = {'Never': 0, 'Rarely': 1, 'Sometimes': 2, 'Often': 3, 'Always': 4}

df_food_replace = df_food.replace(replace_map)

In [ ]:
df_food_replace

In [ ]:
df_food_replace.drop(columns=['nationality', 'age', 'gender'], inplace=True)

In [ ]:
normalized = preprocessing.normalize(df_food_replace)

In [ ]:
normalized_food_user = pd.DataFrame(normalized)
normalized_food_user

In [ ]:
sample = df_food_replace.head().copy()
sample2 = normalized_food_user.head().copy()

In [ ]:
sample2.reset_index(drop=False, inplace=True)

In [ ]:
sample2

In [ ]:
sample2.rename(columns={'index':'user',0:'food_1', 1:"food_2", 2:"food_3", 3:'food_4'}, inplace=True)

In [ ]:
sample2

In [ ]:

melted = pd.melt(sample2, id_vars =['user'], value_vars =['food_1', 'food_2', 'food_3', 'food_4']) 
melted.sort_values(['user', 'variable'], inplace=True)

In [ ]:
melted

In [ ]:
g = sns.FacetGrid(melted, col="user", height=5, aspect=.7)
g.map(sns.barplot, 'variable', 'value' );

In [ ]:
user2 = all_price[all_price['city'].isin(['Sydney', 'London', 'Dublin', 'Prague', 'Rome'])]
g = sns.FacetGrid(user2, col = "city")
g.map(plt.hist, "price_level")
plt.show()

In [ ]:
user4 = all_price[all_price['city'].isin(['Denpasar', 'Shanghai', 'Kyoto', 'New York City', 'Vancouver'])]
g = sns.FacetGrid(user4, col = "city")
g.map(plt.hist, "price_level")
plt.show()

In [ ]:
# User 2 top fav: Sydney, London, Dublin
# User 4 Denpasar, Shanghai, Kyoto, New York City, Vancouver
df

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
plt.style.use('ggplot')
ax = sample.head(1).transpose().plot(kind='bar', figsize=(10, 8), legend=True, fontsize=12)
ax.set_xlabel("price level", fontsize=12)
ax.set_ylabel("frequency", fontsize=12)
plt.show()

In [ ]:
tt = sample2.transpose()

In [ ]:
sns.plot(tt,kind=bar)

In [ ]:
tt

In [ ]:
sample.reset_index(inplace=True)

In [ ]:
sample