In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn import preprocessing as pp
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import NearMiss
from sklearn.model_selection import GridSearchCV
import pickle
import sqlite3

In [3]:
df = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/production_dataframe.csv')

In [4]:
df

,user,city,city_id,amusement_park_city,art_gallery_city,aquarium_city,library_city,movie_theater_city,museum_city,natural_feature_city,...,age_15-25_user,age_26-40_user,age_41-55_user,age_55+_user,gender_Female_user,gender_Male_user,food_sim,attraction_sim,sum,rank
0,0,Abu Dhabi,0,3,4,0,0,0,6,1,...,0,1,0,0,1,0,0.946454,0.599510,1.545963,0.0
1,0,Accra,1,0,1,0,0,0,4,2,...,0,1,0,0,1,0,0.769044,0.584991,1.354035,0.0
2,0,Agra,2,0,0,0,0,0,5,1,...,0,1,0,0,1,0,0.762457,0.525505,1.287962,0.0
3,0,Amman,3,0,2,0,1,0,11,0,...,0,1,0,0,1,0,0.698948,0.626382,1.325330,0.0
4,0,Amsterdam,4,0,2,1,0,1,29,0,...,0,1,0,0,1,0,0.891063,0.496455,1.387518,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20971,151,Washington D.C.,133,0,1,0,1,0,16,0,...,0,1,0,0,0,1,0.833326,0.635983,1.469309,0.0
20972,151,Xi'an,134,0,0,0,0,0,10,0,...,0,1,0,0,0,1,0.688247,0.546102,1.234349,0.0
20973,151,Xiamen,135,0,0,1,0,0,5,1,...,0,1,0,0,0,1,0.688247,0.657949,1.346196,0.0
20974,151,Zhuhai,136,4,0,0,0,0,3,1,...,0,1,0,0,0,1,0.742496,0.591561,1.334057,0.0
20975,151,Zurich,137,0,1,1,0,0,11,0,...,0,1,0,0,0,1,0.854726,0.667602,1.522328,0.0

In [37]:
x_user = df[df['user'] == 50].copy()

In [38]:
x_user.drop(columns=['city', 'continent_city'], inplace=True)

In [40]:
x_user.drop(columns=['rank'], inplace=True)

In [39]:
y_user = x_user['rank']

In [7]:
df_ready = df.drop(df[df.user == 50].index)

In [9]:
def get_df(table_name):
    try:
        conn = sqlite3.connect('/Users/tristannisbet/Documents/travel_app/places.db')

    except Exception as e:
        print('Error durring connection: ', str(e))
    
    sql = """select * from {}""".format(table_name)
    df = pd.read_sql_query(sql, conn)

    return df

In [ ]:
# Sim scores
train_set2 = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/x_train_sim.csv')
test_set2 = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/x_test_sim.csv')

y_train_set = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/y_train_sim.csv')
y_test_set = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/y_test_sim.csv')


train_set2

In [ ]:
all_data_raw = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/user_city_raw.csv')
all_data_sim = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/user_city_sim.csv')

In [ ]:
x_trainfull = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/x_train_full.csv')
x_testfull = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/x_test_full.csv')

y_trainfull = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/y_train_full.csv')
y_testfull = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/y_test_full.csv')

In [ ]:
x_trainfull.set_index(['user', 'label_id'], inplace=True)
y_trainfull.set_index(['user', 'label_id'], inplace=True)
y_testfull.set_index(['user', 'label_id'], inplace=True)
x_testfull.set_index(['user', 'label_id'], inplace=True)

In [ ]:
x_trainfull

In [ ]:
all_data_sim

In [ ]:
y_trainfull = pd.Series(y_trainfull['rank_y'].values, index=y_trainfull.index)

In [ ]:
all_data

In [ ]:
y_train_set.set_index(['user', 'city_id'], inplace=True)
train_set2.set_index(['user', 'city_id'], inplace=True)
y_test_set.set_index(['user', 'city_id'], inplace=True)
test_set2.set_index(['user', 'city_id'], inplace=True)

In [ ]:
train_set2.drop(columns=['top'], inplace=True)
test_set2.drop(columns=['top'], inplace=True)

In [ ]:
# Raw attraction and food scores
x_test = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/x_test.csv')
y_test = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/y_test.csv')

x_train = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/x_train.csv')
y_train = pd.read_csv('/Users/tristannisbet/Documents/SM/Dataframe/new/y_train.csv')

x_train

In [ ]:
y_train.set_index(['user', 'label_id'], inplace=True)
x_train.set_index(['user', 'label_id'], inplace=True)
y_test.set_index(['user', 'label_id'], inplace=True)
x_test.set_index(['user', 'label_id'], inplace=True)

## Fake user data

In [ ]:
x_test_fake = pd.read_csv("/Users/tristannisbet/Documents/SM/Dataframe/new/x_testfake.csv")
y_test_fake = pd.read_csv("/Users/tristannisbet/Documents/SM/Dataframe/new/y_testfake.csv")

x_train_fake = pd.read_csv("/Users/tristannisbet/Documents/SM/Dataframe/new/x_trainfake.csv")
y_train_fake = pd.read_csv("/Users/tristannisbet/Documents/SM/Dataframe/new/y_trainfake.csv")

In [ ]:
x_test_fake.set_index(['user', 'city_id'], inplace=True)
y_test_fake.set_index(['user', 'city_id'], inplace=True)
x_train_fake.set_index(['user', 'city_id'], inplace=True)
y_train_fake.set_index(['user', 'city_id'], inplace=True)

In [ ]:
y_test_fake[y_test_fake['rank'] == 3]

In [ ]:
def rank_from_col(x):
    if x['rank'] == 5:
        return 1
    elif x['rank'] == 4:
        return 1
    elif x['rank'] == 3:
        return 1
    elif x['rank'] == 2:
        return 1
    elif x['rank'] == 1:
        return 1
    else:
        return 0

In [ ]:
#y_test_fake['top'] = y_test_fake.apply(rank_from_col, axis=1)

y_train_fake['top'] = y_train_fake.apply(rank_from_col, axis=1)

In [ ]:
y_train_fake[y_train_fake['rank'] == 5]

In [ ]:
y_train_fake.drop(columns=['rank'], inplace=True)
y_test_fake.drop(columns=['rank'], inplace=True)

## Production Test

In [11]:
ready = df_ready.drop(columns=['city'])

In [19]:
ready.set_index(['user', 'city_id'], inplace=True)

In [22]:
x = ready.drop(columns=['rank'])

In [20]:
y = ready['rank']

In [50]:
y

user  city_id
0     0          0.0
      1          0.0
      2          0.0
      3          0.0
      4          0.0
                ...
151   133        0.0
      134        0.0
      135        0.0
      136        0.0
      137        0.0
Name: rank, Length: 20838, dtype: float64

In [29]:
x.drop(columns=['continent_city'], inplace=True)

### Model Building

In [30]:

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=12, max_depth=25)
clf.fit(x, y)
predictions_rf = clf.predict(x)
probs_rf = clf.predict_proba(x)

In [51]:
x

              amusement_park_city  art_gallery_city  aquarium_city  \
user city_id
0    0                          3                 4              0
     1                          0                 1              0
     2                          0                 0              0
     3                          0                 2              0
     4                          0                 2              1
...                           ...               ...            ...
151  133                        0                 1              0
     134                        0                 0              0
     135                        0                 0              1
     136                        4                 0              0
     137                        0                 1              1

              library_city  movie_theater_city  museum_city  \
user city_id
0    0                   0                   0            6
     1                   0                   0            4
     2                   0                   0            5
     3                   1                   0           11
     4                   0                   1           29
...                    ...                 ...          ...
151  133                 1                   0           16
     134                 0                   0           10
     135                 0                   0            5
     136                 0                   0            3
     137                 0                   0           11

              natural_feature_city  park_city  place_of_worship_city  \
user city_id
0    0                           1         18                      2
     1                           2          1                     20
     2                           1          6                     44
     3                           0          3                     12
     4                           0          7                     12
...                            ...        ...                    ...
151  133                         0         23                      6
     134                         0          5                     12
     135                         1          9                      3
     136                         1          5                      5
     137                         0         16                      8

              shop_city  ...  five_user  age_15-25_user  age_26-40_user  \
user city_id             ...
0    0                0  ...        138               0               1
     1                2  ...        138               0               1
     2                0  ...        138               0               1
     3                2  ...        138               0               1
     4                1  ...        138               0               1
...                 ...  ...        ...             ...             ...
151  133              0  ...        113               0               1
     134              0  ...        113               0               1
     135              0  ...        113               0               1
     136              0  ...        113               0               1
     137              2  ...        113               0               1

              age_41-55_user  age_55+_user  gender_Female_user  \
user city_id
0    0                     0             0                   1
     1                     0             0                   1
     2                     0             0                   1
     3                     0             0                   1
     4                     0             0                   1
...                      ...           ...                 ...
151  133                   0             0                   0
     134                   0             0                   0
     135                   0             0                   0
     136                   0             0                   0
     137                   0             0                   0

              gender_Male_user  food_sim  attraction_sim       sum
user city_id
0    0                       0  0.946454        0.599510  1.545963
     1                       0  0.769044        0.584991  1.354035
     2                       0  0.762457        0.525505  1.287962
     3                       0  0.698948        0.626382  1.325330
     4                       0  0.891063        0.496455  1.387518
...                        ...       ...             ...       ...
151  133                     1  0.833326        0.635983  1.469309
     134                     1  0.688247        0.546102  1.234349
     135                     1  0.688247        0.657949  1.346196
     136                     1  0.742496        0.591561  1.334057
     137                     1  0.854726        0.667602  1.522328

[20838 rows x 45 columns]

In [45]:
x_user.set_index(['user', 'city_id'], inplace=True)

In [46]:
pickle.dump(clf, open('model_test2.pkl','wb'))

model = pickle.load(open('model_test2.pkl','rb'))
predicts = model.predict(x_user)
probs = model.predict_proba(x_user)

In [47]:
probs

array([[0.99, 0.01],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.98, 0.02],
       [0.82, 0.18],
       [0.99, 0.01],
       [0.96, 0.04],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.95, 0.05],
       [0.98, 0.02],
       [0.9 , 0.1 ],
       [0.99, 0.01],
       [0.94, 0.06],
       [0.99, 0.01],
       [0.91, 0.09],
       [0.96, 0.04],
       [0.8 , 0.2 ],
       [0.96, 0.04],
       [0.92, 0.08],
       [0.95, 0.05],
       [0.96, 0.04],
       [0.98, 0.02],
       [0.89, 0.11],
       [0.94, 0.06],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.78, 0.22],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.97, 0.03],
       [0.99, 0.01],
       [0.96, 0.04],
       [1.  , 0.  ],
       [0.81, 0.19],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.95, 0.05],
       [0.99, 0.01],
       [0.98, 0.02],
       [0.9 , 0.1 ],
       [0.84, 0.16],
       [0.94, 0.06],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.98, 0.02],
       [0.98, 0.02],
       [0.97, 0.03],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.99, 0.01],
       [0.96, 0.04],
       [0.82, 0.18],
       [0.94, 0.06],
       [0.95, 0.05],
       [0.97, 0.03],
       [0.91, 0.09],
       [0.89, 0.11],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.98, 0.02],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.96, 0.04],
       [0.98, 0.02],
       [0.96, 0.04],
       [0.81, 0.19],
       [0.86, 0.14],
       [0.9 , 0.1 ],
       [0.96, 0.04],
       [0.67, 0.33],
       [0.81, 0.19],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.98, 0.02],
       [0.93, 0.07],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.84, 0.16],
       [0.93, 0.07],
       [0.94, 0.06],
       [0.97, 0.03],
       [0.99, 0.01],
       [0.86, 0.14],
       [0.98, 0.02],
       [1.  , 0.  ],
       [0.84, 0.16],
       [0.94, 0.06],
       [0.57, 0.43],
       [1.  , 0.  ],
       [0.95, 0.05],
       [0.95, 0.05],
       [0.68, 0.32],
       [0.98, 0.02],
       [0.99, 0.01],
       [0.9 , 0.1 ],
       [0.96, 0.04],
       [0.97, 0.03],
       [0.88, 0.12],
       [0.98, 0.02],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.99, 0.01],
       [0.88, 0.12],
       [0.92, 0.08],
       [0.92, 0.08],
       [0.96, 0.04],
       [0.64, 0.36],
       [0.98, 0.02],
       [0.97, 0.03],
       [0.87, 0.13],
       [0.87, 0.13],
       [0.97, 0.03],
       [0.81, 0.19],
       [0.97, 0.03],
       [0.96, 0.04],
       [0.81, 0.19],
       [0.88, 0.12],
       [0.99, 0.01],
       [0.95, 0.05],
       [0.99, 0.01],
       [0.93, 0.07],
       [0.87, 0.13],
       [0.86, 0.14],
       [0.98, 0.02],
       [0.91, 0.09],
       [0.94, 0.06],
       [0.68, 0.32],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.93, 0.07]])

In [ ]:
x_user

In [ ]:
y_trainfull = pd.Series(y_trainfull['rank_y'].values, index=y_trainfull.index)

In [48]:
print(classification_report(y_user, predicts))
print(confusion_matrix(y_user,predicts))

              precision    recall  f1-score   support

         0.0       0.96      1.00      0.98       133
         1.0       0.00      0.00      0.00         5

    accuracy                           0.96       138
   macro avg       0.48      0.50      0.49       138
weighted avg       0.93      0.96      0.95       138

[[133   0]
 [  5   0]]

/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [49]:
probs

array([[0.99, 0.01],
       [1.  , 0.  ],
       [1.  , 0.  ],
       [0.98, 0.02],
       [0.82, 0.18],
       [0.99, 0.01],
       [0.96, 0.04],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.95, 0.05],
       [0.98, 0.02],
       [0.9 , 0.1 ],
       [0.99, 0.01],
       [0.94, 0.06],
       [0.99, 0.01],
       [0.91, 0.09],
       [0.96, 0.04],
       [0.8 , 0.2 ],
       [0.96, 0.04],
       [0.92, 0.08],
       [0.95, 0.05],
       [0.96, 0.04],
       [0.98, 0.02],
       [0.89, 0.11],
       [0.94, 0.06],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.78, 0.22],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.97, 0.03],
       [0.99, 0.01],
       [0.96, 0.04],
       [1.  , 0.  ],
       [0.81, 0.19],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.95, 0.05],
       [0.99, 0.01],
       [0.98, 0.02],
       [0.9 , 0.1 ],
       [0.84, 0.16],
       [0.94, 0.06],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.98, 0.02],
       [0.98, 0.02],
       [0.97, 0.03],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.99, 0.01],
       [0.96, 0.04],
       [0.82, 0.18],
       [0.94, 0.06],
       [0.95, 0.05],
       [0.97, 0.03],
       [0.91, 0.09],
       [0.89, 0.11],
       [0.99, 0.01],
       [1.  , 0.  ],
       [0.98, 0.02],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.99, 0.01],
       [0.96, 0.04],
       [0.98, 0.02],
       [0.96, 0.04],
       [0.81, 0.19],
       [0.86, 0.14],
       [0.9 , 0.1 ],
       [0.96, 0.04],
       [0.67, 0.33],
       [0.81, 0.19],
       [0.97, 0.03],
       [0.95, 0.05],
       [0.98, 0.02],
       [0.93, 0.07],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.84, 0.16],
       [0.93, 0.07],
       [0.94, 0.06],
       [0.97, 0.03],
       [0.99, 0.01],
       [0.86, 0.14],
       [0.98, 0.02],
       [1.  , 0.  ],
       [0.84, 0.16],
       [0.94, 0.06],
       [0.57, 0.43],
       [1.  , 0.  ],
       [0.95, 0.05],
       [0.95, 0.05],
       [0.68, 0.32],
       [0.98, 0.02],
       [0.99, 0.01],
       [0.9 , 0.1 ],
       [0.96, 0.04],
       [0.97, 0.03],
       [0.88, 0.12],
       [0.98, 0.02],
       [0.99, 0.01],
       [0.97, 0.03],
       [0.98, 0.02],
       [0.99, 0.01],
       [0.88, 0.12],
       [0.92, 0.08],
       [0.92, 0.08],
       [0.96, 0.04],
       [0.64, 0.36],
       [0.98, 0.02],
       [0.97, 0.03],
       [0.87, 0.13],
       [0.87, 0.13],
       [0.97, 0.03],
       [0.81, 0.19],
       [0.97, 0.03],
       [0.96, 0.04],
       [0.81, 0.19],
       [0.88, 0.12],
       [0.99, 0.01],
       [0.95, 0.05],
       [0.99, 0.01],
       [0.93, 0.07],
       [0.87, 0.13],
       [0.86, 0.14],
       [0.98, 0.02],
       [0.91, 0.09],
       [0.94, 0.06],
       [0.68, 0.32],
       [1.  , 0.  ],
       [0.96, 0.04],
       [0.99, 0.01],
       [0.93, 0.07]])

In [ ]:
from sklearn.metrics import mean_squared_error 
#print('RMSE on train data: ', mean_squared_error(y_trainfull, )**(0.5))
print('RMSE on test data: ',  mean_squared_error(y_testfull, predictions_rf)**(0.5))

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,7))
feat_importances = pd.Series(clf.feature_importances_, index = x_trainfull.columns)
feat_importances.nlargest(7).plot(kind='barh');

In [ ]:
x_testfull.index.get_level_values('user').unique()

In [ ]:
x_user = x_testfull.xs(55, level='user', drop_level=False).copy()
y_user = y_testfull.xs(55, level='user', drop_level=False).copy()

### Accuracy Score Metric

In [ ]:
results5 = x_testfull.copy()

In [ ]:
results = x_user.copy()

In [ ]:
# This will add the probability and the predicted values from the model 
def split_array(prob, x_df, predict):
    df = x_df.copy()
    lst1 = list(prob[:, 0])
    lst2 = list(prob[:, 1])
    predict_lst = list(predict)
    df['prob_0'] = pd.Series(lst1, index=df.index)
    df['prob_1'] = pd.Series(lst2, index=df.index)
    df['predicted'] = pd.Series(predict_lst, index=df.index)
    
    
    
    return df

In [ ]:
results

In [ ]:
okk = split_array(probs, results, predicts)
okk

In [ ]:
ok.sort_values('prob_1', ascending=False)

In [ ]:
cities = get_df('cities')
cities

In [ ]:
def add_top_city(results_df, y_test_set):
    
    # adds actual top ranked cities
    results_df_top = pd.merge(right=y_test_set, left=results_df, right_index=True, left_index=True)
    
    return results_df_top

def add_city_name(results_df, city_df):
    results_df.reset_index(level=1, inplace=True)
    
    city_dict = dict(zip(city_df['city_id'], city_df['city']))
    results_df['city'] = results_df['label_id'].map(city_dict)
    results_df.set_index('label_id', append=True, inplace=True)
    
    return results_df

In [ ]:
df.columns

In [ ]:
ok2 = add_city_name(okk, df)
ok2

In [ ]:
ok3 = add_top_city(ok2, y_user)

In [ ]:
ok3

In [ ]:
ok3.sort_values('prob_1', ascending=False)

In [ ]:
# filter only continent = 4 and rank_y != 0 
# Choose and print the top 3 cities

In [ ]:
y_user