In [1]:
import pandas as pd
import surprise as sp
from surprise.model_selection import GridSearchCV
from surprise.model_selection import cross_validate
from surprise import Reader
from surprise.model_selection import KFold
from surprise import accuracy
#from surprise.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [2]:
df = pd.read_csv("/Users/tristannisbet/Documents/SM/Dataframe/suprise_df.csv")
df5 = pd.read_csv("/Users/tristannisbet/Documents/SM/Dataframe/suprise_5.csv")
dfb = pd.read_csv("/Users/tristannisbet/Documents/SM/Dataframe/suprise_b.csv")
df_weight = pd.read_csv("/Users/tristannisbet/Documents/SM/Dataframe/new/suprise_weight.csv", index_col=0)

In [3]:
df_weight['ranking_weight'].describe()

count    21267.000000
mean         1.414515
std          0.214038
min          0.249561
25%          1.318461
50%          1.436635
75%          1.533273
max          2.221475
Name: ranking_weight, dtype: float64

In [4]:
df_weight.sort_values('ranking_weight', inplace=True)

In [5]:
df_train, df_test = train_test_split(df, test_size=0.2)
df5_train, df5_test = train_test_split(df5, test_size=0.2)
dfb_train, dfb_test = train_test_split(dfb, test_size=0.2)
weight_train, weight_test = train_test_split(df_weight, test_size=0.2)

#e_train, e_test = train_test_split(eight, test_size=0.2)

In [6]:
df_weight

       user           city  ranking_weight
12648    90         Tehran        0.249561
12647    90         Beirut        0.249844
11536    82         Beirut        0.289861
3613     25         Beirut        0.289861
12509    89         Beirut        0.293212
...     ...            ...             ...
20294   146  San Francisco        2.207653
10983    79         Madrid        2.208940
3199     23         Prague        2.216313
15291   110      Melbourne        2.219791
15986   115         Prague        2.221475

[21267 rows x 3 columns]

In [7]:
# Change it back to countries
#df.iloc[:, 1] = labelencoder.inverse_transform(df.iloc[:, 1])
labelencoder = LabelEncoder()
#df.iloc[:, 1] = labelencoder.fit_transform(df.iloc[:, 1])
df

     user_id         city  rank
0          0        Krabi     1
1          0     Budapest     3
2          0         Rome     2
3          1       Cancun     1
4          1  Los Angeles     3
..       ...          ...   ...
454      151     Florence     1
455      151        Miami     2
456      152     Istanbul     2
457      152    Amsterdam     1
458      152        Paris     3

[459 rows x 3 columns]

In [ ]:
df.city.value_counts()

In [ ]:
df_weight

In [8]:
readere = Reader(rating_scale=(0.249561, 2.221475))
datawe = sp.Dataset.load_from_df(df_weight[['user', 'city', 'ranking_weight']], readere)

In [9]:
reader= Reader(rating_scale=(1.0, 3.0))
data = sp.Dataset.load_from_df(df_train[['user_id', 'city', 'rank']], reader)

reader5= Reader(rating_scale=(1.0, 5.0))
data5 = sp.Dataset.load_from_df(df5_train[['user_id', 'city', 'rank']], reader5)

readerb = Reader(rating_scale=(1.0, 5.0))
datab = sp.Dataset.load_from_df(dfb_train[['user_id', 'city', 'rank']], readerb)

In [ ]:
# Using surprise train/test
#trainset, testset = train_test_split(data, test_size=.25)

In [ ]:
benchmark = []
# Iterate over all algorithms
for algorithm in [sp.SVD(), sp.NMF(), sp.NormalPredictor(), sp.KNNBasic(), sp.KNNWithZScore(), sp.CoClustering(),
                 sp.SlopeOne(), sp.KNNBaseline(), sp.KNNWithMeans(), sp.SVDpp(), sp.BaselineOnly()]:
# Perform cross validation
    results = cross_validate(algorithm, datawe, measures=['RMSE'], cv=3, verbose=False)
# Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]],index=['Algorithm']))
    benchmark.append(tmp)

In [ ]:
benchmark = pd.DataFrame(benchmark)
benchmark

### GridSearch CV 

With SVD

In [ ]:
param_grid = {'n_factors': [25, 30, 35, 40, 100], 'n_epochs': [15, 20, 25], 'lr_all': [0.001, 0.003, 0.005, 0.008],               'reg_all': [0.08, 0.1, 0.15, 0.02]}
gs = GridSearchCV(sp.SVD, param_grid, measures=['rmse', 'mae'], cv=3)
gs.fit(dataw) 
algo = gs.best_estimator['rmse']
print(gs.best_score['rmse']) 
print(gs.best_params['rmse'])

In [ ]:

model = sp.SVD(n_factors=100, n_epochs=25, lr_all=.001, reg_all=.08)
trainset = data.build_full_trainset()
model.fit(trainset)

In [ ]:
from collections import defaultdict

from surprise import SVD
from surprise import Dataset


def get_top_n(predictions, n=10):
    '''Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    '''

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n


# Than predict ratings for all pairs (u, i) that are NOT in the training set.
testset = trainset.build_anti_testset()
predictions = model.test(testset)

top_n = get_top_n(predictions, n=10)

# Print the recommended items for each user
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

In [ ]:
algo2 = sp.SVD(n_factors= 25, n_epochs = 15, lr_all = .001, reg_all = .08)
kf = KFold(n_splits=3)


for trainset, testset in kf.split(dataw):

    # train and test algorithm.
    algo2.fit(trainset)
    predictions = algo2.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

In [ ]:
predictions

In [ ]:
sim = {'name': 'pearson_baseline', 'user_based': True, 'min_support': 5}
algo = sp.KNNBasic(k_min = 2, sim_options = sim)
kf = KFold(n_splits=3)

for trainset, testset in kf.split(datawe):

    # train and test algorithm.
    algo.fit(trainset)
    predictions = algo.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

In [ ]:
pd.DataFrame(predictions)

In [ ]:
algo3 = sp.BaselineOnly()
kf = KFold(n_splits=3)


for trainset, testset in kf.split(dataw):

    # train and test algorithm.
    algo3.fit(trainset)
    predictions = algo3.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

In [ ]:
predictions

In [12]:
from collections import defaultdict

from surprise import SVD
from surprise import Dataset


def get_top_n(predictions, n=5):
    """Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    """

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n


# First train an SVD algorithm on the movielens dataset.
# data = Dataset.load_builtin('ml-100k')
# trainset = data.build_full_trainset()
# algo = SVD()
# algo.fit(trainset)

sim = {'name': 'pearson_baseline', 'user_based': True, 'min_support': 5}
algo = sp.KNNBasic(k_min = 2, sim_options = sim)
kf = KFold(n_splits=3)

for trainset, testset in kf.split(datawe):

    # train and test algorithm.
    algo.fit(trainset)
    predictions = algo.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)
    precisions, recalls = precision_recall_at_k(predictions, k=5, threshold=1.5)

    # Precision and recall can then be averaged over all users
    print(sum(prec for prec in precisions.values()) / len(precisions))
    print(sum(rec for rec in recalls.values()) / len(recalls))

# Than predict ratings for all pairs (u, i) that are NOT in the training set.
testset = trainset.build_anti_testset()
predictions = algo.test(testset)

top_n = get_top_n(predictions, n=5)

# Print the recommended items for each user
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.1241
0.8099128540305007
0.3656035264365623
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.1243
0.8221132897603483
0.3505784102598201
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
RMSE: 0.1221
0.8249455337690628
0.3714115452665924
4 ['Boston', 'Honolulu', 'Ha Long', 'Madrid', 'Los Angeles']
33 ['Kuala Lumpur', 'Dubai', 'Madrid', 'New York City', 'Manila']
87 ['Honolulu', 'Washington D.C.', 'Chicago', 'Madrid', 'Tokyo']
61 ['Boston', 'Kuala Lumpur', 'Pattaya', 'London', 'Miami']
145 ['Boston', 'Kuala Lumpur', 'Los Angeles', 'Copenhagen', 'Atlanta']
119 ['Honolulu', 'Penang Island', 'Las Vegas', 'Dubai', 'Beijing']
71 ['Pattaya', 'Honolulu', 'Penang Island', 'Berlin', 'Edinburgh']
123 ['Madrid', 'Chicago', 'Tokyo', 'Atlanta', 'Edinburgh']
65 ['Orlando', 'Boston', 'Kuala Lumpur', 'Dubai', 'Chengdu']
150 ['San Francisco', 'Prague', 'Tel Aviv', 'Kuala Lumpur', 'Boston']
112 ['Boston', 'Honolulu', 'Madrid', 'Copenhagen', 'Melbourne']
127 ['New York City', 'San Francisco', 'Melbourne', 'Madrid', 'Washington D.C.']
95 ['Kuala Lumpur', 'Prague', 'Atlanta', 'Berlin', 'Rome']
56 ['Boston', 'Kuala Lumpur', 'Honolulu', 'Orlando', 'Penang Island']
83 ['Boston', 'Orlando', 'New York City', 'Marrakesh', 'Cancun']
99 ['Prague', 'London', 'San Francisco', 'Rome', 'Berlin']
3 ['New York City', 'Prague', 'Melbourne', 'Copenhagen', 'São Paulo']
23 ['Ha Long', 'Madrid', 'Pattaya', 'Shanghai', 'Melbourne']
131 ['San Francisco', 'Boston', 'Prague', 'Berlin', 'Pattaya']
92 ['Boston', 'London', 'São Paulo', 'Shanghai', 'Miami']
126 ['Madrid', 'Prague', 'Marrakesh', 'Penang Island', 'Dubai']
66 ['Ha Long', 'San Francisco', 'Boston', 'Orlando', 'Prague']
25 ['Ha Long', 'San Francisco', 'Orlando', 'Marrakesh', 'Dubai']
69 ['London', 'Honolulu', 'Washington D.C.', 'Los Angeles', 'Hong Kong']
41 ['New York City', 'Boston', 'Kuala Lumpur', 'Rome', 'Dubai']
143 ['San Francisco', 'Kuala Lumpur', 'Marrakesh', 'Orlando', 'Berlin']
146 ['Honolulu', 'Melbourne', 'Madrid', 'Tokyo', 'Copenhagen']
54 ['Ha Long', 'Orlando', 'San Francisco', 'Abu Dhabi', 'Las Vegas']
79 ['New York City', 'Kuala Lumpur', 'London', 'Berlin', 'Pattaya']
10 ['New York City', 'Los Angeles', 'Kuala Lumpur', 'Tel Aviv', 'Madrid']
51 ['Prague', 'Honolulu', 'Marrakesh', 'Berlin', 'Las Vegas']
102 ['San Francisco', 'Boston', 'Kuala Lumpur', 'Los Angeles', 'Rome']
117 ['Pattaya', 'Prague', 'Miami', 'Honolulu', 'Las Vegas']
78 ['New York City', 'Pattaya', 'Washington D.C.', 'Abu Dhabi', 'Bangkok']
144 ['New York City', 'Los Angeles', 'Copenhagen', 'Tel Aviv', 'Atlanta']
89 ['Honolulu', 'Washington D.C.', 'Atlanta', 'São Paulo', 'Miami']
80 ['New York City', 'Boston', 'Prague', 'London', 'San Francisco']
96 ['San Francisco', 'New York City', 'Washington D.C.', 'Dubai', 'London']
40 ['Pattaya', 'Prague', 'Berlin', 'Madrid', 'Tel Aviv']
1 ['Boston', 'Kuala Lumpur', 'London', 'Prague', 'Madrid']
5 ['New York City', 'Orlando', 'Tel Aviv', 'Ha Long', 'Hong Kong']
128 ['Pattaya', 'Tel Aviv', 'Dubai', 'Penang Island', 'Vienna']
26 ['Orlando', 'San Francisco', 'Pattaya', 'Honolulu', 'Kuala Lumpur']
9 ['San Francisco', 'Miami', 'Atlanta', 'Shanghai', 'Tokyo']
16 ['Boston', 'Dubai', 'Dallas', 'Copenhagen', 'Bangkok']
30 ['Melbourne', 'Boston', 'Washington D.C.', 'New York City', 'Los Angeles']
28 ['San Francisco', 'New York City', 'Orlando', 'Atlanta', 'Abu Dhabi']
114 ['Pattaya', 'Miami', 'Prague', 'Kuala Lumpur', 'Rome']
139 ['Honolulu', 'San Francisco', 'Prague', 'Dubai', 'Copenhagen']
60 ['Miami', 'Rome', 'Durban', 'San Jose', 'Beijing']
93 ['San Francisco', 'Boston', 'Honolulu', 'Miami', 'Chengdu']
31 ['Ha Long', 'San Francisco', 'Boston', 'Kuala Lumpur', 'Penang Island']
14 ['Pattaya', 'Madrid', 'Chengdu', 'Shanghai', 'Abu Dhabi']
46 ['Kuala Lumpur', 'Orlando', 'Los Angeles', 'Melbourne', 'Copenhagen']
58 ['Ha Long', 'Miami', 'Kuala Lumpur', 'Boston', 'Penang Island']
134 ['San Francisco', 'Boston', 'Prague', 'Berlin', 'Miami']
68 ['Washington D.C.', 'Los Angeles', 'Prague', 'Honolulu', 'Dubai']
17 ['Kuala Lumpur', 'Madrid', 'Shanghai', 'Washington D.C.', 'Florence']
100 ['San Francisco', 'New York City', 'London', 'Edinburgh', 'Florence']
74 ['Ha Long', 'Penang Island', 'Berlin', 'Abu Dhabi', 'Vienna']
72 ['London', 'Edinburgh', 'New York City', 'Amsterdam', 'Copenhagen']
138 ['Prague', 'Madrid', 'Miami', 'Pattaya', 'Honolulu']
35 ['Washington D.C.', 'Prague', 'Melbourne', 'Dubai', 'São Paulo']
104 ['Prague', 'San Francisco', 'Madrid', 'Kuala Lumpur', 'Edinburgh']
106 ['San Francisco', 'Boston', 'London', 'Los Angeles', 'Chicago']
50 ['Ha Long', 'San Francisco', 'Honolulu', 'Miami', 'Abu Dhabi']
107 ['Miami', 'Shanghai', 'Honolulu', 'Ha Long', 'Edinburgh']
2 ['San Francisco', 'New York City', 'Prague', 'Kuala Lumpur', 'Melbourne']
67 ['Boston', 'Miami', 'Melbourne', 'Penang Island', 'Tokyo']
85 ['Prague', 'Boston', 'Kuala Lumpur', 'London', 'Ha Long']
101 ['Pattaya', 'Miami', 'Prague', 'Orlando', 'Tel Aviv']
0 ['San Francisco', 'Boston', 'Kuala Lumpur', 'Orlando', 'Prague']
140 ['San Francisco', 'London', 'Melbourne', 'São Paulo', 'Mumbai']
116 ['Pattaya', 'Marrakesh', 'Penang Island', 'Edinburgh', 'Copenhagen']
122 ['San Francisco', 'Honolulu', 'Tokyo', 'Atlanta', 'Hong Kong']
121 ['New York City', 'Boston', 'Madrid', 'Rome', 'Honolulu']
105 ['Melbourne', 'New York City', 'Amsterdam', 'Washington D.C.', 'Madrid']
6 ['Prague', 'Dubai', 'Washington D.C.', 'Melbourne', 'London']
43 ['New York City', 'Kuala Lumpur', 'Washington D.C.', 'Copenhagen', 'Madrid']
76 ['Ha Long', 'San Francisco', 'Tel Aviv', 'Marrakesh', 'Miami']
32 ['Kuala Lumpur', 'New York City', 'Ha Long', 'London', 'Chicago']
49 ['New York City', 'Melbourne', 'Kuala Lumpur', 'Copenhagen', 'Chicago']
47 ['San Francisco', 'Honolulu', 'Kuala Lumpur', 'Miami', 'Marrakesh']
45 ['San Francisco', 'Boston', 'Kuala Lumpur', 'London', 'Prague']
7 ['London', 'Prague', 'Kuala Lumpur', 'Atlanta', 'Washington D.C.']
137 ['Los Angeles', 'Prague', 'Washington D.C.', 'Copenhagen', 'Chicago']
109 ['Honolulu', 'Washington D.C.', 'Prague', 'Madrid', 'Copenhagen']
8 ['San Francisco', 'New York City', 'Honolulu', 'Kuala Lumpur', 'Madrid']
132 ['New York City', 'Rome', 'Kuala Lumpur', 'Madrid', 'Honolulu']
129 ['Pattaya', 'Kuala Lumpur', 'Penang Island', 'Dubai', 'Cancun']
152 ['Ha Long', 'Tel Aviv', 'Penang Island', 'Marrakesh', 'Berlin']
82 ['Pattaya', 'Dubai', 'Miami', 'Kuala Lumpur', 'Penang Island']
22 ['Honolulu', 'Miami', 'Penang Island', 'Tel Aviv', 'Dubai']
151 ['San Francisco', 'Kuala Lumpur', 'Boston', 'Rome', 'Dubai']
110 ['San Francisco', 'New York City', 'Prague', 'Kuala Lumpur', 'Boston']
77 ['Edinburgh', 'Chicago', 'Atlanta', 'São Paulo', 'Stockholm']
27 ['New York City', 'San Francisco', 'Boston', 'Kuala Lumpur', 'Madrid']
19 ['New York City', 'Boston', 'Kuala Lumpur', 'Washington D.C.', 'Los Angeles']
29 ['Boston', 'London', 'Washington D.C.', 'Prague', 'Copenhagen']
86 ['Honolulu', 'Pattaya', 'San Francisco', 'Boston', 'Prague']
94 ['San Francisco', 'Boston', 'Kuala Lumpur', 'Washington D.C.', 'Tel Aviv']
53 ['New York City', 'Kuala Lumpur', 'Prague', 'Pattaya', 'Miami']
62 ['Honolulu', 'Madrid', 'Rome', 'Copenhagen', 'Pattaya']
88 ['Ha Long', 'Kuala Lumpur', 'Miami', 'Prague', 'Edinburgh']
44 ['Ha Long', 'Prague', 'Boston', 'Penang Island', 'Shanghai']
149 ['New York City', 'San Francisco', 'Los Angeles', 'Washington D.C.', 'Atlanta']
130 ['New York City', 'Kuala Lumpur', 'Melbourne', 'Washington D.C.', 'Copenhagen']
75 ['Tokyo', 'Shanghai', 'Bangkok', 'Singapore', 'Philadelphia']
21 ['New York City', 'San Francisco', 'Prague', 'Los Angeles', 'Tokyo']
125 ['Prague', 'San Francisco', 'Orlando', 'Penang Island', 'Durban']
136 ['Prague', 'Kuala Lumpur', 'Shanghai', 'Rome', 'Berlin']
120 ['San Francisco', 'Washington D.C.', 'London', 'Los Angeles', 'Dubai']
59 ['Dubai', 'Los Angeles', 'Madrid', 'Orlando', 'Washington D.C.']
135 ['San Francisco', 'Melbourne', 'Copenhagen', 'Chicago', 'Shanghai']
91 ['San Francisco', 'Prague', 'Ha Long', 'Madrid', 'Berlin']
133 ['New York City', 'Boston', 'Kuala Lumpur', 'Honolulu', 'Chicago']
24 ['Pattaya', 'Orlando', 'Madrid', 'Los Angeles', 'Chengdu']
142 ['Pattaya', 'Miami', 'Las Vegas', 'Copenhagen', 'Shanghai']
103 ['San Francisco', 'Ha Long', 'Prague', 'Las Vegas', 'Abu Dhabi']
37 ['Prague', 'Kuala Lumpur', 'Madrid', 'Copenhagen', 'Tokyo']
90 ['San Francisco', 'New York City', 'Boston', 'Melbourne', 'Tokyo']
36 ['San Francisco', 'Boston', 'Tel Aviv', 'Pattaya', 'Abu Dhabi']
48 ['Boston', 'Kuala Lumpur', 'Dubai', 'Ha Long', 'Pattaya']
42 ['Prague', 'New York City', 'Shanghai', 'Bangkok', 'Miami']
52 ['New York City', 'Boston', 'Madrid', 'Los Angeles', 'Shanghai']
12 ['Ha Long', 'Pattaya', 'Miami', 'Orlando', 'Prague']
115 ['Boston', 'Kuala Lumpur', 'Copenhagen', 'Melbourne', 'Berlin']
97 ['San Francisco', 'London', 'New York City', 'Melbourne', 'Honolulu']
84 ['San Francisco', 'Ha Long', 'Pattaya', 'Dubai', 'Boston']
55 ['San Francisco', 'Boston', 'Copenhagen', 'Shanghai', 'Amsterdam']
81 ['Pattaya', 'Prague', 'Boston', 'Kuala Lumpur', 'Penang Island']
124 ['Boston', 'Penang Island', 'Madrid', 'Edinburgh', 'Beijing']
118 ['London', 'Washington D.C.', 'São Paulo', 'Atlanta', 'Copenhagen']
147 ['Pattaya', 'Dubai', 'Boston', 'Tel Aviv', 'Chengdu']
148 ['Prague', 'Penang Island', 'Boston', 'Cancun', 'Beijing']
20 ['London', 'Honolulu', 'Shanghai', 'Miami', 'Pattaya']
57 ['San Francisco', 'Washington D.C.', 'Los Angeles', 'Melbourne', 'Prague']
64 ['Honolulu', 'Prague', 'Madrid', 'Dallas', 'Tel Aviv']
38 ['Pattaya', 'Honolulu', 'Orlando', 'Madrid', 'Marrakesh']
34 ['Ha Long', 'Miami', 'Krabi', 'Rome', 'Berlin']
39 ['Pattaya', 'Honolulu', 'Kuala Lumpur', 'Madrid', 'Miami']
113 ['Kuala Lumpur', 'Honolulu', 'Washington D.C.', 'Chicago', 'Atlanta']
108 ['Ha Long', 'Miami', 'Prague', 'Marrakesh', 'Dubai']
111 ['San Francisco', 'Kuala Lumpur', 'Chicago', 'Los Angeles', 'Copenhagen']
98 ['New York City', 'Boston', 'Kuala Lumpur', 'Shanghai', 'Chicago']
70 ['San Francisco', 'Honolulu', 'Atlanta', 'Tel Aviv', 'Dallas']
13 ['San Francisco', 'Boston', 'Cancun', 'Kuala Lumpur', 'Beijing']
18 ['San Francisco', 'Washington D.C.', 'Miami', 'Bangkok', 'Chicago']
11 ['Boston', 'Honolulu', 'Prague', 'Tokyo', 'Las Vegas']
63 ['Pattaya', 'Orlando', 'San Francisco', 'Honolulu', 'Kuala Lumpur']
141 ['Pattaya', 'San Francisco', 'Miami', 'Boston', 'Cancun']
73 ['Prague', 'Rome', 'New York City', 'Madrid', 'Melbourne']
15 ['San Francisco', 'London', 'Washington D.C.', 'Prague', 'Atlanta']

In [ ]:
predictions

In [ ]:
data